header {
  background-color: blue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  color: white;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

.column-1 {
  background-color: green;
  width: 30em;
  float: left;
  margin: 15px;
  padding: 0.75em;
}

.column-2 {
  background-color: red;
  width: 30em;
  float: right;
  margin: 15px;
  padding: 0.75em;
}

footer {
  background-color: yellow;
  clear: both;
  height: 30px;
  padding: 1em;
}