/*
##What is important to know when linking an external file (like a stylesheet) to an HTML file?

It's important to use the correct relative path in order to link your CSS stylesheet to your html file.  It's good practice to keep them in separate directories.


##What tricks did you use to help you with positioning? How hard was it to get the site as you wanted it?

We struggled a bit with the positioning. We used in-line block to keep our two unordered lists on the same line.

##What CSS did you use to modify the element style (like size, color, etc.)

We used font-size, font-weight and color.

##Did you modify the HTML to include classes or ids? If so, which did you choose and why? If you didn't, how would you know which one to add to your HTML?

Yes, we did. We needed to use classes and IDs in order to change the text attributes inside of links and inside of text strings. For example, we used id's to make the first letters larger in the heading.

##When you compared your site to the actual code base, which do you think had cleaner code that followed best practices and why?

Both sites were clear. Our html was more minimal than theirs.  For example, they put their unordered list of links inside of a column.  This made their spacing look a bit better. Overall, the two sites look very similar.
*/

header {
    color: #000080;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    white-space: nowrap;
}
.larger{
    font-size: 30px;
}
.smaller{
    font-size: 16px;
}

#line {
    border-top: thin solid black;
}

body {
    color:#000080
    background-color:white;
}

a {
    color:#800080
}


a:visited {
    color:#ff0000
}

#left {
    display:inline-block;
    width:300px;
    margin:10px;
    color:#000080;

}


#right {
    display:inline-block;
    width:300px;
    margin:10px;
    color:#000080;
}

.info {
  font-size:12px;
  color:#000080;
}

section{
    color:#000080;
    font-size: 13px

}

#center {
    text-align: center;
}